/* button {
  background-color: rgb(147, 147, 226);
  width: 150px;
  height: 75px;
  border-radius: 15px;
  font-size: 30px;
  color: beige;
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
  background-color: rgb(23, 102, 4);
} */

.timer {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  grid-column-gap: 40px;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 100px;
}
.field {
  text-align: center;
}
